<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034936297122-qh6m0rbpima07i47nu3t5m1tb9jq1886.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034936297122-qh6m0rbpima07i47nu3t5m1tb9jq1886</string>
	<key>API_KEY</key>
	<string>AIzaSyD78ToxyMPzl_fRJLSLKC-Xwzt6H0c7Jow</string>
	<key>GCM_SENDER_ID</key>
	<string>1034936297122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.xmtspot.OtterKeg</string>
	<key>PROJECT_ID</key>
	<string>otter-keg</string>
	<key>STORAGE_BUCKET</key>
	<string>otter-keg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034936297122:ios:6195c5d815d57bc2d699fb</string>
	<key>DATABASE_URL</key>
	<string>https://otter-keg.firebaseio.com</string>
</dict>
</plist>